---

---
<div class="library_div">
    <ul>
       <li><a  href="#"> <img src="/icons_cata/library-icon.svg" alt="search"> Your Library </a></li>
    </ul>

    <div class="underdiv">
<div class="over">Create your first playlist</div>
<div class="under">It's easy, we'll help you</div>
<a class="knap"href="">Create playliste</a>
    </div>

    <div class="underdiv">
        <div class="over">Let's find some podcast to follow</div>
<div class="under">We'll keep you updated on new episodes</div>
<a class="knap" href="">Browse podcasts</a>
    </div>
 </div>


    <style>

.library_div{
   background-color: #121212;
   border-radius: 1cqw;
   color: white;
}
    ul a{
  text-decoration: none;
     color: #b3b3b3;

    }


    ul {
list-style-type: none;
padding-top: 2%;
    }

    ul img{
max-width: 2%;
    }

    li{
 display: grid;
/*alignself ordne så i center*/
    }

 
    li :hover{
    color: white;
}


 .underdiv{
    background-color: #242424;
    border-radius: 1cqw;
margin-top: 5%;
padding: 2% 1% 2% 1%;


 }

 .over{
    font-size: 2cqw;
        padding-bottom: 3%;
 }

 .under{
    padding-bottom: 3%;
 }
 .knap{
    text-decoration: none;
       color: black;
       border-radius: 2cqw;
       background-color: white;
       padding: 1%;
       align-self: center;
    

 }
    </style>