---

---
<nav>
    <ul>
       <li > <a class="spotify" href="#"><img src="../../icons_cata/logo.svg" alt="spotify"> </a></li>
     <li ><a class="spotify" href="#"> <img  src="../../icons_cata/home-filled.svg" alt="home" >  Home</a></li>
     <li  ><a class="spotify" href="#"> <img src="../../icons_cata/search-icon.svg" alt="search"> Search </a></li>
    </ul>
</nav>

<style>

nav {
       
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 1cqw;
    background-color: #121212;
}

nav a {
    
    text-decoration: none;
    color: #b3b3b3;
}
li{
        list-style-type: none;
}
nav :hover{
    
    color: white;
}
.spotify{
    max-width: 7%;
}
.home{
 max-width: 2%;

}

</style>