---
import Categori from "./Categori.astro";
---

<div class="page">
<div class="knap_grid_stort" >
     <a class="tilbage"  href=""><img src="icons_cata/back-btn.svg" alt="tilbage"></a>
     <a class="frem" href=""><img src="icons_cata/forward-btn.svg" alt="tilbage"></a>
     <a class="knap1" href="">Sign up</a>
     <a class="knap2" href="">Log in</a>
</div>

<div>     
<div class="over">
<a  class="over1" href="">Spotify playlists</a>
<a  class="over2" href="">Show all</a>
</div>

<div class="page_categori">
<div class="cat1">
</Categori>
</div>
<div class="cat2"></div>
<div class="cat3"></div>
<div class="cat4"></div>

</div>

</div>

<div>
<div class="over">

    <a class="over1" href="">Focus</a>
    <a class="over2" href="">Show all</a>
       </div>
</div>

</div>


<style>
 .page{
background-color: #242424;
border-radius: 1cqw;
margin-top:2%;
padding:3% 2% 3% 2%;
 }
 .knap_grid_stort{
 gap: 10%;
 display: grid;
 grid-template-columns: 1fr 1fr 2fr 2fr;
 }
.tilbage{
 width: 20%;
 grid-column: 1;
 }
 .frem{
 width:20%;
  grid-column: 2;
 }
 .knap1{
 font-size: 2cqw;
 color: white;
  grid-column: 3;
   width: auto;
 }
 .knap2{
 font-size: 2cqw;
 color: black;
  grid-column: 4;
 background-color: white;
 padding: 2%;
 border-radius: 2cqw;
 width: auto;
 }

 .over{
 text-decoration: none;
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 70%;
 width: 100%;
 padding-right: 0;
 }
.over1{
    grid-column: 1;
     color: white;
}
.over2{
    grid-column: 2;
     color: white;
}

.page_categori{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
</style>