---
---

<div>
    <div class="knap_grid" >
        <a class="tilbage"  href=""><img src=".../.../icons_cata/back-btn.svg" alt="tilbage"></a>
        <a class="frem" href=""><img src=".../.../icons_cata/forward-btn.svg" alt="tilbage"></a>
        <a class="knap1" href="">Sign up</a>
        <a class="knap2" href="">Log in</a>
    </div>
    <div>
        <div>
<a href="">Spotify playlists</a>
<a href="">Show all</a>
        </div>
        <div class="">

        </div>
</div>

<div>
        <div>
    <a href="">Focus</a>
    <a href="">Show all</a>
       </div>
</div>

</div>



<style>
    .knap_grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
    }


</style>